{% extends "base.html" %}
<!--Imported from Django ALLAUTH (Login)-->
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container p-3">
    <div class="row">
        <div class="col-md-8 mt-3">
            <h3>{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome back to the Finesse. <br>To leave a review or see others reviews, please log in.
                <br>If
                you
                have not created an account yet, then <a class="link" href="{{ signup_url }}"
                    style="color: rgb(168, 0, 184); background-color: rgba(255, 255, 255, 0.397);">sign
                    up</a>first.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3">
            <form class="allauth-form login mx-auto" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="button-style mb-2" type="submit">{% trans "Sign In" %}</button>
                <p><a href="{% url 'account_reset_password' %}" class="login-a">{% trans "Forgot Password?" %}</a></p>
            </form>
        </div>
    </div>
</div>

{% endblock %}