{% extends "base.html" %}
<!--Imported from Django ALLAUTH (Password reset)-->
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1 class="text-center mt-3">
    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p class="text-center mt-3">{% blocktrans %}The password reset link was invalid, possibly because it has already been
    used. <br>Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
<form method="POST" action="{{ action_url }}" class="text-center mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="action" value="{% trans 'change password' %}" />
</form>
{% endif %}
{% endblock %}