{% extends "base.html" %}
<!--Imported from Django ALLAUTH (Change Password)-->
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change text-center m-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="button-style">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
