{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--User can see preview it's profile-->
<h1>User Profile...</h1>
<br/>
<!--After editing the profile the user can see it's profile picture / default-->
{% if page_user.profile_pic %}
    <img src="{{ page_user.profile_pic.url }}" width=250 height=250 class="img-fluid rounded mx-auto d-block shadow-lg p-2 mb-5 bg-body rounded" alt="Profile Picture">
{% else %}
    <img src="{% static 'images/defaultpic.jpeg' %}" width=250 height=250 class="img-fluid rounded mx-auto d-block shadow-lg p-2 mb-5 bg-body rounded" alt="Default Picture">
{% endif %}
<!--User Name field-->
<div class="card mb-3 ms-3 me-3">
    <div class="card-body">
      <h5 class="card-title text-center"> Hello, my name is: 
        <strong>    
        {{ page_user.user.first_name }}
        {{ page_user.user.last_name }}
        </strong>
        <br>
    </h5>
    <!--User Biography-->
    <h6><strong><em>Check out my biography:</em></strong></h6>
    <br>
      <p class="card-text">{{ page_user.bio }}</p>
      <hr>
      <br/>
      <!--User social media links-->
      <p>
        <h6><strong><em>Check out my Social Media:</em></strong></h6>
        <br>
        {% if page_user.facebook_url is not none %}
        >> <a href="{{ page_user.user.facebook_url }}" target="_blank" rel="noopener"
        aria-label="User Facebook profile" style="
        color: rebeccapurple;
        ">Check out my Facebook page: <strong><i class="bi bi-facebook"></i></strong></a>
        {% endif %}
      </p>
      <br>
      <p>
        {% if page_user.instagram_url is not none %}
        >> <a href="{{ page_user.user.instagram_url }}" target="_blank" rel="noopener"
        aria-label="User Instagram profile" style="
        color: rebeccapurple;
        ">Check out my Instagram page: <strong><i class="bi bi-instagram"></i></strong></a>
        {% endif %}
      </p>
      <br>
      <p>
        {% if page_user.twitter_url is not none %}
        >> <a href="{{ page_user.profile.twitter_url }}" target="_blank" rel="noopener"
        aria-label="User Twitter Profile" style="
        color: rebeccapurple;
        ">Check out my Twitter page: <strong><i class="bi bi-twitter"></i></strong></a>
        {% endif %}
      </p>
      <br>
      <p>
        {% if page_user.website_url is not none %}
        >> <a href="{{ page_user.profile.website_url }}" target="_blank" rel="noopener"
        aria-label="User Website" style="
        color: rebeccapurple;
        ">Check out my Website: <strong><i class="bi bi-globe2"></i></strong></a>
        {% endif %}
      </p>
    </div>
  </div>

{% endblock %}