{% extends "base.html" %}
<!--Imported from Django ALLAUTH (Verification Sent)-->
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1 class="text-center mt-3">{% trans "Verify Your E-mail Address" %}</h1>

<p class="text-center mt-3">{% blocktrans %}We have sent an e-mail to you for verification. <br>Follow the link provided
    to finalize the signup process. <br>If you do not see the verification e-mail in your main inbox, check your spam
    folder. <br>Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}
</p>

{% endblock %}