{% extends "base.html" %}
<!--Imported from Django ALLAUTH (Verification Email)-->
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1 class="text-center mt-3">{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p class="text-center mt-3">{% blocktrans %}This part of the site requires us to verify that
    you are who you claim to be. <br>For this purpose, we require that you
    verify ownership of your e-mail address. {% endblocktrans %}</p>

<p class="text-center">{% blocktrans %}We have sent an e-mail to you for
    verification. <br>Please click on the link inside that e-mail. If you do not see the verification e-mail in your
    main inbox, check your spam folder. <br>Otherwise
    contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

<p class="text-center mt-1">{% blocktrans %}<strong>Note:</strong> you can still <a href="{{ email_url }}">change your
        e-mail address</a>.{% endblocktrans %}</p>


{% endblock %}