@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body {
    font-family: 'Domine', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: #fff;
}

.container-fluid {
    background-color: #590085;
    padding-top: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: wheat;
}

.nav-link {
    color: wheat;
}

.nav-link:hover {
    color:black;
}

.footer {
    background-color: #590085;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.mb-auto {
    margin-bottom: none;
}

.btn-signup {
    background-color: #590085;
    color: white;
    border: #590085;
}

.btn-signup:hover,
.btn-signup:active {
    color:#590085;
    background-color: white;
    border: #590085;
}

.socialmedia, .smedia {
    text-align: center;
    text-decoration: none;
    color: wheat;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bolder;
}

.w-100 {
    height: auto;
}
a {
    color: wheat;
    text-decoration: none;
    padding-right: 10px;
}

.row {
    justify-content: center;
    margin: 0;
    
}

.welcome {
        font-size: calc(1.375rem + 1.5vw);
        text-align: center;
        padding-top: 13px;
        padding-bottom: 10px;
        font-weight: bolder;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.col-12 {
    
    margin-top: 10px;
}

.copyrightbtn {
    color: wheat;
    font-size: large;
}

.btn-hours {
    color: wheat;
    background-color: #8f00d6;
}

/*Media queries*/

@media (max-width: 576px) {
    .row {
        --bs-gutter-x: 0.rem;
    }
    .navbar-brand img:first-child {
        max-width: 12rem;
    }
    .text-center{
        margin-right: 7px;
        margin-left: 7px;
        font-size: 14px;
    }
    .welcome{
        font-size: 23px;
    }
    .message-container {
        max-width: 70%;
    }
    .nav-link {
        margin-right: 10px;
    }
}

