/*Bootrstrap & google fonts imported*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&display=swap');


/*Body page*/

body {
    font-family: 'Domine', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Navigation*/

.navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: #fff;
}

.container-fluid {
    background-color: #590085;
    padding-top: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: wheat;
}

.nav-link {
    color: wheat;
}

label {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    padding: 7px 21px;
    background-color: rgb(143, 1, 1);
    color: white;
    font-size: 18px;
}


.nav-link:hover {
    color: black;
}


/*HOME page content*/

.containerHero {
    position: relative;
    text-align: center;
    color: white;
}

.centeredHero {
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 9999;
    font-size: 55px;
}

.centerHero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    background-color: #00000040;
}

.mb-auto {
    margin-bottom: 0;
}

.mb-4 {
    margin-top: 10px;
}

.btn-signup {
    background-color: #590085;
    color: white;
    border: #590085;
}

.btn-signup:hover,
.btn-signup:active {
    color: #590085;
    background-color: white;
    border: #590085;
}

.welcome {
    font-size: calc(1.375rem + 1.5vw);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.col-12 {

    margin-top: 10px;
}

/*Blog page*/

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 0px;
    text-transform: uppercase;
    background-color: #590085;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #8f00d6;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #8f00d6;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #8f00d6;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #8f00d6;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.offcanvas-header {
    justify-content: center;
}

.textarea {
    max-width: 100%;
}

/*Modal*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 0.5rem;
}

#myImg:hover {
    opacity: 0.7;
}

.modaI {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modaI-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modaI-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.cIose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.cIose:hover,
.cIose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.endpage {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/*footer of the page*/
.footer {
    background-color: #590085;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyrightbtn {
    color: wheat;
    font-size: large;
}

.btn-hours {
    color: wheat;
    background-color: #8f00d6;
}

#offcanvasRight,
.btn-close {
    background-color: #f5d3ff66;
    color: white;
}

.offcanvas {
    background-color: #f5deb39e;
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.socialmedia,
.smedia {
    text-align: center;
    text-decoration: none;
    color: wheat;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bolder;
}

.w-100 {
    height: auto;
}

a {
    color: wheat;
    text-decoration: none;
    padding-right: 10px;
}

.row {
    justify-content: center;
    margin: 0;

}

/*Media queries*/

@media (max-width: 992px) {
    .centerHero {
        font-size: 30px;
    }

    .myImages {
        margin-top: 0.5rem;
    }
}

@media (max-width: 768px) {
    .centerHero {
        font-size: 22px;
    }

    .myImages {
        margin-top: 0.25rem;
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .row {
        --bs-gutter-x: 0rem;
    }

    .navbar-brand img:first-child {
        max-width: 12rem;
    }

    .text-center {
        margin-right: 7px;
        margin-left: 7px;
        font-size: 14px;
    }

    .welcome {
        font-size: 23px;
    }

    .message-container {
        max-width: 70%;
    }

    .nav-link {
        margin-right: 10px;
    }

    .centerHero {
        font-size: 15px;
    }

    .centeredHero {
        display: none;
    }

    .myImages {
        margin-top: none;
    }
}