@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body {
    font-family: 'Domine', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-brand-color: #fff;
}

.container-fluid {
    background-color: #590085;
    padding-top: 0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: wheat;
}

.nav-link {
    color: wheat;
}

label {
    font-size: 22px;
    font-weight: bold;
}

.btn {
    padding: 7px 21px;
    background-color: rgb(143, 1, 1);
    color: white;
    font-size: 18px;
}


.nav-link:hover {
    color:black;
}

.footer {
    background-color: #590085;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.mb-auto {
    margin-bottom: 0;
}

.mb-4 {
    margin-top: 10px;
}

.btn-signup {
    background-color: #590085;
    color: white;
    border: #590085;
}

.btn-signup:hover,
.btn-signup:active {
    color:#590085;
    background-color: white;
    border: #590085;
}

.socialmedia, .smedia {
    text-align: center;
    text-decoration: none;
    color: wheat;
    display: inline-flex;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bolder;
}

.w-100 {
    height: auto;
}
a {
    color: wheat;
    text-decoration: none;
    padding-right: 10px;
}

.row {
    justify-content: center;
    margin: 0;
    
}

.welcome {
        font-size: calc(1.375rem + 1.5vw);
        text-align: center;
        padding-top: 13px;
        padding-bottom: 10px;
        font-weight: bolder;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.col-12 {
    
    margin-top: 10px;
}

.copyrightbtn {
    color: wheat;
    font-size: large;
}

.btn-hours {
    color: wheat;
    background-color: #8f00d6;
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 0px;
    text-transform: uppercase;
    background-color: #590085;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #8f00d6;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #8f00d6;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #8f00d6;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #8f00d6;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.offcanvas-header {
    justify-content: center;
}

.textarea {
        max-width: 100%;
}

/*Media queries*/

@media (max-width: 576px) {
    .row {
        --bs-gutter-x: 0rem;
    }
    .navbar-brand img:first-child {
        max-width: 12rem;
    }
    .text-center{
        margin-right: 7px;
        margin-left: 7px;
        font-size: 14px;
    }
    .welcome{
        font-size: 23px;
    }
    .message-container {
        max-width: 70%;
    }
    .nav-link {
        margin-right: 10px;
    }
}

