<footer class= "footer justify-content-center">
    <div class="smedia">
        <p>Follow us:</p>
        <!--Facebook link opening in a new tab -->
        <a href="https://www.facebook.com/Finesse-101949212680207 " target="_blank" rel="noopener"
            aria-label="Visit our Facebook page (opens in a new tab)">
            <i class="bi bi-facebook"></i>
        </a>
        <!-- Instagram link opening in a new tab -->
        <a href="https://www.instagram.com/finesseevents22/" target="_blank" rel="noopener"
            aria-label="Visit our instagram page (opens in a new tab)">
            <i class="bi bi-instagram"></i></a>

        <!-- Twitter link opening in a new tab -->
        <a href="https://twitter.com/Finesse_Events1" target="_blank" rel="noopener"
            aria-label="Visit our twitter page (opens in a new tab)">
            <i class="bi bi-twitter"></i>
        </a>
    </div>
</footer>