<footer class="mt-auto py-3 footer justify-content-center">

    <div class="row text-center mt-3 mb-3">
        <div class="col-12 order-2 order-sm-1 col-sm-4">
            <button class="btn btn-hours" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">Working Hours</button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasRightLabel text-center">Our Working Hours are:</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body text-center">
                    <h1>Monday</h1>
                    <p>08:00AM - 20:00PM</p>
                    <h1>Tuesday</h1>
                    <p>08:30AM - 19:00PM</p>
                    <h1>Wednesday</h1>
                    <p>09:00AM - 18:00PM</p>
                    <h1>Thursday</h1>
                    <p>09:00AM - 17:00PM</p>
                    <h1>Friday</h1>
                    <p>10:00AM - 16:00PM</p>
                    <h1>Saturday</h1>
                    <p>11:00AM - 15:00PM</p>
                    <h1>Sunday</h1>
                    <p>Closed</p>
                </div>
            </div>
        </div>
        <div class="col-12 order-3 order-sm-2 col-sm-4 mb-0">
            <h3 class="copyrightbtn"><strong>©Finesse Company Ltd™</strong></h3>
        </div>
        <div class="col-12 order-1 order-sm-3 col-sm-4">
            <p class="socialmedia"><em>Social Media: </em></p>
            <!--Facebook link opening in a new tab -->
            <a href="https://www.facebook.com/Finesse-101949212680207 " target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)">
                <i class="bi bi-facebook"></i>
            </a>
            <!-- Instagram link opening in a new tab -->
            <a href="https://www.instagram.com/finesseevents22/" target="_blank" rel="noopener"
                aria-label="Visit our instagram page (opens in a new tab)">
                <i class="bi bi-instagram"></i></a>

            <!-- Twitter link opening in a new tab -->
            <a href="https://twitter.com/Finesse_Events1" target="_blank" rel="noopener"
                aria-label="Visit our twitter page (opens in a new tab)">
                <i class="bi bi-twitter"></i>
            </a>
        </div>
    </div>

</footer>