{% load static %}
<header>
    <!-- Nav menu -->
    <nav class="navbar navbar-expand-lg navbar-white">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'eventsM' %}">
                <div class="heroimg">
                    <img src="{% static 'images/logo.webp' %}" alt="Finesse logo">
                </div>
            </a>
            <!--Sign in/Up Modal-->
            <div class="modal" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                tabindex="-1" href="{% url 'eventsM' %}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Log In</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Sign In-->
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal">Register Account</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Register Account.</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!--Sign Up-->
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputFirstName" class="form-label">First Name:</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="First Name">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                  </div>
                                  <div class="mb-3">
                                    <label for="exampleInputLastName" class="form-label">Last Name:</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="Last Name">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                  </div>
                                <div class="mb-3">
                                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                </div>
                                <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                      <label for="inputPassword6" class="col-form-label">Password</label>
                                    </div>
                                    <div class="col-auto">
                                      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                    </div>
                                    <div class="col-auto">
                                      <span id="passwordHelpInline" class="form-text">
                                        Must be 8-20 characters long.
                                      </span>
                                    </div>
                                  </div>
                                  <div class="row g-3 align-items-center">
                                    <div class="col-auto">
                                      <label for="inputPassword6" class="col-form-label">Reinsert-Password</label>
                                    </div>
                                    <div class="col-auto">
                                      <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
                                    </div>
                                    <div class="col-auto">
                                      <span id="passwordHelpInline" class="form-text">
                                        Must match the above password.
                                      </span>
                                    </div>
                                  </div>
                                <div class="mb-3 form-check">
                                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle"
                                data-bs-toggle="modal">Log In</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary nav-link" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Sign
                In/Up</a>
        </div>
    </nav>

    <!--Modal Js-->
    <script>
        const myModalEl = document.getElementById('myModal')
        myModalEl.addEventListener('hidden.bs.modal', event => {
            // do something...
        })
    </script>

</header>