{% load static %}
<header>
    <!-- Nav menu -->
    <nav class="navbar navbar-expand-lg navbar-white">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'eventsM' %}">
                <div class="heroimg">
                    <img src="{% static 'images/logo.webp' %}" alt="Finesse logo">
                </div>
            </a>
            <button class="nav-link active" aria-current="page" href="#">Sign In/Up</button>
        </div>
    </nav>
</header>