{% load static %}

{% load account %}
{% load i18n %}
{% user_display user as name %}

<header>
  <!-- Nav menu -->
  <nav class="navbar navbar-expand-lg navbar-white">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'eventsM' %}">
        <div class="heroimg">
          <img src="{% static 'images/logo.webp' %}" alt="Finesse logo">
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--Home page-->
            <a class="nav-link" href="{% url 'eventsM' %}"><strong>Home</strong></a>
          </li>
          {% if user.is_authenticated %}
          <!--If the user is authenticated he can see the Blog and Account links-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blogs' %}"><strong>Blog</strong></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <strong>Account </strong><i class="bi bi-person-fill"></i>
            </a>
            <ul class="dropdown-menu nav-acco">
              <!--Dropdown menu inside Account contains Preview and edit Profile, Account Settings and change email address-->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                  href="{% url 'show_profile_page' user.profile.id %}"><strong>Preview Profile</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                  href="{% url 'edit_profile_page' user.profile.id %}"><strong>Edit Profile</strong></a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'edit_profile' %}"><strong>Account
                    Settings</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'account_email' %}"><strong>Change
                    E-mail</strong></a>
              </li>
              <li>
              </li>
              <!--User can logout from his account-->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}"><strong>{% blocktrans %}Logout,
                    {{name}}{% endblocktrans %}</strong></a>
              </li>
            </ul>
          </li>
          <!--If the user is not authenticated they won't see the above-->
          <!--If user is not authenticated they will see register an account or login in to an account.-->
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}"><strong>Register</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}"><strong>Login</strong></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<!--A toast message has been implemented to announce user when a significant action takes place-->
<script>
  $("dropdown").on("click", function () {
    $('.dropdown-content').slideToggle();
  });
</script>