{% extends 'base.html' %}
{% block title %}Edit blog post{% endblock %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<!--If the user is authenticated they can update their post-->
    <h1>Update Post..</h1>
    <br/> <br/>

    <div class="ms-5">
        <strong>Rules:</strong>
        <br>
        <em>
        <small>1. After clicking the Post button, your post will be directed to the admins to be approved.</small>
        <br>
        <small>2. Please don't use punctuation in the title, we prefer just plain text. We are cool.</small>
        <br>
        <small>3. Try to post something that defines our company, any other posts will be deleted.</small>
        <br>
        <small>4. Your post can be approved in maximum 24h.</small>
        <br>
        <small> Have fun! Let's get social!</small>
        </em>
    </div>

    <div class="form-group m-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-signup btn-lg">Update</button>
        </form>
    </div>
{% endif %}
{% endblock %}