{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle" style="color: white; background-color: #8500C7;">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/drink.JPG' %}" width="100%" alt="picture with a drink">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%" alt="picture added by user">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">

                    <div class="col-4">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="bi bi-heart-fill"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="bi bi-heart-fill"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="bi bi-heart"></i></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-2">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="bi bi-chat-left"></i></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <small><a href="{% url 'update_post' post.pk %}" class="editpost">Edit Post <i
                    class="bi bi-pencil-square"></i></a></small>
        <small><a href="{% url 'delete_post' post.pk %}" class="deletepost">Delete Post <i
                    class="bi bi-trash"></i></a></small>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments shadow p-2 mb-2 bg-white" style="padding: 10px;border-radius: 35px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {% if comment.user.profile.profile_pic %}
                        <img src="{{ comment.user.profile.profile_pic.url }}" width=50 height=50 class="rounded-circle" alt="User profile picture">
                        {% else %}
                        <img src="{% static 'images/defaultpic.jpeg' %}" width=50 height=50 alt="Default Picture">
                        {% endif %}
                        {{ comment.name }}
                        <a href="{% url 'show_profile_page' comment.user.profile.id %}"><i class="bi bi-book-fill"
                                style="padding-left: 10px;" alt="Path to user profile"></i></a>
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}</span> wrote:
                    </p>
                    <!-- The body of the comment -->

                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body" style="margin-left: 1px;margin-top: 1px;">
                <!-- Once a user plans to leave a comment this will be send for approval, and the comment will be visible after it has been approved.  -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <!--History for the page-->
        <p>**<em><i class="bi bi-book-fill" style="
            color: #E84610;
        "></i> - By clicking this you will be directed to this person profile...</em></p>
    </div>
</div>

{% endblock content %}