{% extends "base.html" %}

{% block content %}
{% load static %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="{% static 'images/one.webp' %}" class="d-block w-100" alt="Carousel slide 1 (wedding)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/two.webp' %}" class="d-block w-100" alt="Carousel slide 2 (gathering)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/three.webp' %}" class="d-block w-100" alt="Carousel slide 3 (cake bar)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/four.webp' %}" class="d-block w-100" alt="Carousel slide 4 (disco ball)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/five.webp' %}" class="d-block w-100"
                alt="Carousel slide 5 (led lights on wall)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/six.webp' %}" class="d-block w-100" alt="Carousel slide 6 (dj pit)">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="{% static 'images/seven.webp' %}" class="d-block w-100" alt="Carousel slide 7 (drink)">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{%endblock%}